.loginpanel, #loginpanel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container {
    min-width: 300px;
    padding: 20px;
    height: 40%;
    background-color: #1F1C1C;
    border-radius: 10%;
    box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        text-align: center;
        height: 20%;
        color: white;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
        height: 10%;
        min-height: 10%;
        padding: 10px;
        margin: 0px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-size: 150%;
        border-radius: 25px;
    }
    button {
        width: 95%;
        height: 20%;
        min-height: 20%;
        padding: 10px;
        margin: px;
        background-color: #4CAF50;
        font-size: 150%;
        border: none;
        color: #fff;
        border-radius: 25px;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
}
@media (min-width:0px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .loginpanel{
        justify-content: center;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .loginpanel{
        width: 100%;
        justify-content: center;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .loginpanel{
        width: 100%;
        justify-content: center;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .loginpanel{
        width: 100%;
        justify-content: flex-end;
    }
    .container{
        margin: 3%;
        height: 40%;
        width: 30%;
        padding: 10px;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .loginpanel{
        width: 100%;
        justify-content: flex-end;
    }
    .container{
        margin: 3%;
        height: 40%;
        width: 30%;
        padding: 10px;
    }
}