@media (max-width: 500px) {
    .LoginPanel{
        position: absolute;
        top: 20%;
        left: 15%;
        right: 15%;
        bottom: 40%;
        width: 70%;
        height: 40%;
    }
    .container{
        margin-top: 40%;
        border-radius: 25px;
    }
}
  
@media (min-width: 500px) and (max-width: 850px) {
    .LoginPanel{
        position: absolute;
        top: 20%;
        left: 15%;
        right: 15%;
        bottom: 40%;
        width: 70%;
        height: 40%;
    }
    .container{
        margin-top: 40%;
        margin-left: 40%;
        border-radius: 25px;
    }
}
  
@media (min-width: 850px) {
    .LoginPanel{

    } 
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #1F1C1C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h2 {
    text-align: center;
    color: white;
}

.container input[type="text"],
.container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.container button:hover {
    background-color: #45a049;
}