.container_GridHome{
    margin: 10px;
    margin-left: 100px;
    float:left;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Adjust the gap between grid items as needed */
  }
  
  .container_ItemGridHome{
    border-radius: 10px;
    border: solid 2px #093f08;
    background-color: #74c574; /* Adjust the background color as needed */
    padding: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow:  5px 10px 10px black;
  }

  @media (min-width:0px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .container_GridHome {
      grid-template-columns:repeat(1, 1fr)
    }
  }
  @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .container_GridHome {
      grid-template-columns:repeat(2, 1fr)
    }
  }
  @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .container_GridHome{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .container_GridHome{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .container_GridHome{
      grid-template-columns: repeat(5, 1fr);
    }
  }