.container_SideBar{
    display: flex;
  }
  nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #2e2b2b;;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    
  }
  .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
  }
  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li{
        a{
            position: relative;
            color: rgb(0, 0, 0);
            font-size: 14px;
            display: table;
            width: 280px;
            padding: 10px;
        }
        a:hover{
            background: #eee;
        }
    }
  }
  .logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    span{
        font-weight: bold;
        padding-left: 15px;
        font-size: 18px;
        text-transform: uppercase;
    }
  }
  .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
  }
  .logout{
    position: absolute;
    bottom: 0;
  }