@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.PagHome{
    background-color: #3A3A3A;
    height: 100%;
}
.Home{
    display: flex;
    flex-direction: row;
    height: 100%;
    
}
@media (min-width:0px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    
}