html {
    font-size: calc(15px + 0.5vw);
}
@media (min-width:0px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgMobile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgMobile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgLaptop.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgLaptop.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
}