@media (max-width: 500px) {
    body{
        float: left;
    }
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgMobile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
@media (min-width: 500px) and (max-width: 850px) {
    body{
        float: left;
    }
    html{
        height: 100%;
        width: auto;
        background-image: url("../src/assets/BgMobile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media (min-width: 850px) {

}

